
body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	overflow: hidden;
}

.seccion {
	overflow: hidden;
	white-space: nowrap;
}

section div.item {
	display: inline-block;
	width: 23%;
	height: 100%;
}

.imagen-card {
	display: block;
	width: 80%;
	margin: auto;
}

span {
	color: #FFFFFF;
}

.btn-eps {
	width: 100%;
	text-align: left;
}

