.menus {
	left: 0;
	top: 0;
	position: absolute;
	overflow-y: hidden;
	
	max-height: 100vh;
}

.button.active {
	transform: scale(1.15);
}

.button {
	width: 100%;
	padding: 0
}

.page {
	left: 0;
	top: 0;
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	transition: all .8s ease-out;
	
}

#ep-page {
	padding: 7%;
	font-size: 30px;
	background-color: #28b4db;
}

#p1 {
	left: 200%;
	background-color: #28b4db;
}

#p1.animate {
	transform: translateX(-200%);
	transition-delay: all .8s ease-out;
}

#p2 {
	left: 300%;
	background-color: #bc06cc;
}

#p2.animate {
	transform: translateX(-300%);
	transition-delay: all .8s ease-out;
}